<%= form_with(model: expedient, local: true) do |form| %>
  <% if expedient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(expedient.errors.count, "error") %> prohibited this expedient from being saved:</h2>

      <ul>
      <% expedient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
      <div class="row">
        <div class="col-sm">
        <%= form.label "Data" %>
        <%= form.text_field :date_exp %>
        </div>
        <div class="col-sm">
        <%= form.label "Destino" %>   
        <%= collection_select(:expedient, :destination_id, Destination.all, :id, :description ,  prompt: 'Selecione um destino') %>  
        </div>
        <div class="col-sm">
        <%= form.label "Responsável" %>
        <%= collection_select(:expedient, :responsible_id, Responsible.all, :id, :description) %>  
        </div>
        <div class="col-sm">
        <%= form.label "Tipo" %>
        <%= collection_select(:expedient, :exp_type_id, ExpType.all, :id, :description ,  prompt: 'Selecione um tipo') %>  
        </div>
      </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
    <%= form.label "Assunto" %>
    <%= form.text_field :topic %>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col">
    <%= form.label "SPU" %>
    <%= form.text_field :spu %>
    </div>
  </div>
</div>
        
  <div class="field">
    <%= form.label "Data" %>
    <%= form.text_field :date_exp %>
  </div>

  <div class="field">
    <%= form.label "Assunto" %>
    <%= form.text_field :topic %>
  </div>

  <div class="field">
    <%= form.label "SPU" %>
    <%= form.text_field :spu %>
  </div>

  <div class="field">
    <%= form.label "Tipo" %>
    <%= collection_select(:expedient, :exp_type_id, ExpType.all, :id, :description ,  prompt: 'Selecione um tipo') %>  
  </div>

  <div class="field">
  
  <%= form.label "Destino" %>   
  <%= collection_select(:expedient, :destination_id, Destination.all, :id, :description ,  prompt: 'Selecione um destino') %>  
      
  </div>

  <div class="field">
    <%= form.label "Responsável" %>
    <%= collection_select(:expedient, :responsible_id, Responsible.all, :id, :description) %>  
  </div>

  <div class="actions">
    <%= form.submit "Cadastrar" %>
  </div>

  <button type="submit" class="btn btn-info ">Cadastrar</button>
<% end %>
