<p id="notice"><%= notice %></p>

<h1>Expedientes</h1>

<table>
  <thead>
    <tr>
      <th>Data</th>
      <th>Assunto</th>
      <th>SPU</th>
      <th>Tipo</th>
      <th>Destino</th>
      <th>Responsável</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expedients.each do |expedient| %>
      <tr>
        <td><%= expedient.date_exp %></td>
        <td><%= expedient.topic %></td>
        <td><%= expedient.spu %></td>
        <td><%= expedient.exp_type_id %></td>
        <td><%= expedient.destination_id %></td>
        <td><%= expedient.responsible_id %></td>
        <td><%= link_to 'Show', expedient %></td>
        <td><%= link_to 'Edit', edit_expedient_path(expedient) %></td>
        <td><%= link_to 'Destroy', expedient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expedient', new_expedient_path %>
