<nav class="nav">
  <a class="nav-link active" href="#">Active</a>
  <a class="nav-link" href="#">Link</a>
  <a class="nav-link" href="#">Link</a>
  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
</nav>

<h1>Expediente</h1>

<%= render 'form', expedient: @expedient %>

<%= link_to 'Back', expedients_path %>
